.top--section {
  /* border: 1px solid black; */
  margin: -10px;
}

.navbar {
  background: #F55A5A;
  display: flex;
  height: 55px;
  color: white;
}

.navbar--img {
  /* border: 1px solid black; */
  max-width: 25px;
  margin-left: 47%;
}

.navbar--text {
  /* border: 1px solid black; */
  margin-left: 0.5%;
}